<div>
  <button type="button" class="btn btn-default">{{#link-to 'signIn'}}Sign In{{/link-to}}</button>
</div>

<div>
  <button type="button" class="btn btn-default">{{#link-to 'signUp'}}Sign Up{{/link-to}}</button>
</div>